BOT_TOKEN=8385111399:AAEzQknMtLi3-daazEwCkvd0GbwgPcqXvjk
JWT_SECRET=your_jwt_secret_key_change_this_in_production
PORT=3000
FIREBASE_PROJECT_ID=planer-app-3a0f2
DATABASE_URL=https://planer-app-3a0f2-default-rtdb.europe-west1.firebasedatabase.app
FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"..."}'
